<style>
    body{background-color: <%= @bcolor %>;}
    
</style>
<h1>Output form</h1>

<h2>Your fist name is: <%= @fname %></h2>
<h2>Your last name is: <%= @lname %></h2>
<h2>Your email is: <%= @mail %> </h2>

<h2>You hear from us at  <%= @recom %></h2>
<h2>You plan <%= @visit %> visit</h2>
<h2>Your comments: <%= @comment %></h2>
<h2>You are <%= @sign %> for updates</h2>
